<section class="section-padding-small bg-color-white">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <%= scrivito_tag(:h1, @obj, :title) %>
      </div>
      <div class="col-md-2 homepage-notebox">
        <%= link_to(image_path("screencast-homepage.gif"), {
          data: {
            toggle: "lightbox",
            title: "Getting started",
            gallery: "lightbox-gallery",
          },
        }) do %>
          <%= image_tag("screencast-homepage.gif", class: "img-responsive") %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= scrivito_tag(:div, @obj, :body)  %>
