<section class="bg-color-white section-padding-small">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render("hits") %>
      </div>
      <div class="col-md-3">
        <%= render("search_again") %>
        <%= render("tags") %>
      </div>
    </div>
  </div>
</section>
