/*
 *= require scrivito
 *= require scrivito_advanced_editors
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

@import "ekko-lightbox";

@import "scrivito-example-app";
