<% content_for(:headline) do %>
Card Widget
<% end %>

<% content_for(:screencast) do %>
screencast-cards.gif
<% end %>

<% content_for(:explanation) do %>
<p>
Cards let you present content in a stylish manner. They feature a thin frame, an
optional heading bar, a tagline with a variable position, and a straight or bent
shadow. You can configure the color of the heading background, which is also
used as the frame color, as well as the background color of the card content.
Alternatively, you can specify an image to be used as the background.
</p>

<p>
Try to change the styles of a card using its &quot;Widget properties&quot; view. Provide
the content of a card by adding widgets to it.
</p>
<% end %>
