<% content_for(:headline) do %>
Section Widget
<% end %>

<% content_for(:screencast) do %>
screencast-section.gif
<% end %>

<% content_for(:explanation) do %>
<p>
The purpose of Section widgets is to enable editors to divide pages into any number of areas
(sections). Each area can be given a background color or a background image. Also, the top and
bottom padding can be set to "small", "medium" or "large" to adjust the space between adjacent
sections.
</p>
<p>
The page you are viewing or editing right now, lets you add no other widgets than Section widgets to
keep the page structure simple and neat. However, you can add any number of widgets of any type
(except sections) to each Section widget. In the examples below, every section has been equipped
with a Headline widget.
</p>
<% end %>
