<% content_for(:headline) do %>
Accordion Widget
<% end %>

<% content_for(:screencast) do %>
screencast-accordion.gif
<% end %>

<% content_for(:explanation) do %>
<p>
An accordion is a panel group that lets website visitors selectively view pieces of information
by clicking one of several tabs.
</p>

<p>
To turn a panel group into an accordion, simply select either the &quot;accordion&quot; style on the
&quot;Widget properties&quot; dialog.
</p>
<% end %>
