<% content_for(:headline) do %>
Maps Widget
<% end %>

<% content_for(:screencast) do %>
screencast-maps.gif
<% end %>

<% content_for(:explanation) do %>
<p>
You can embed maps using the Google Maps widget.  After specifying an address via the &quot;Widget
properties&quot; dialog, a pin and an info box are added to the map. The height of a map is
adjustable.
</p>
<% end %>
