<% content_for(:headline) do %>
Carousel Widget
<% end %>

<% content_for(:screencast) do %>
screencast-carousel.gif
<% end %>

<% content_for(:explanation) do %>
<p>
As with accordions, carousels are panel groups to which a specific style has been applied,
&quot;carousel&quot; in this case. A carousel has the appearance of a set of slides, so the
various tabs you've put into it are displayed one after the other in full size. On the left
and right hand side, there is an arrow you can click to move backwards and forwards,
respectively, by one slide. If you don't click, the next slide is shown automatically after
a couple of seconds. At the bottom, a position indicator is available for selecting a
specific slide.
</p>
<% end %>
