<% content_for(:headline) do %>
Call To Action Widget
<% end %>

<% content_for(:screencast) do %>
screencast-call-to-action.gif
<% end %>

<% content_for(:explanation) do %>
<p>
The Call To Action widget lets you create action buttons and links.  You can choose from different
styles, sizes, and alignments and select either a page managed by Scrivito or an external URL as the
link destination.
</p>
<% end %>
