<% content_for(:headline) do %>
Panel Group Widget With Tabs
<% end %>

<% content_for(:screencast) do %>
screencast-tab-groups.gif
<% end %>

<% content_for(:explanation) do %>
<p>
Panel Group widgets are allrounders. They are mainly used to selectively display content
covering several aspects of a topic, e.g. a discription of a product, its specification,
ordering details, etc. These aspects can be packed into individual compartments a website
visitor may open on demand. Panel groups save space and improve readability.
</p>
<p>
By assigning a corresponding style on the &quot;Widget properties&quot; dialog, you can
change the look of a panel group or even have it displayed as an accordion or a carousel.
</p>
<% end %>
